# Ignore build output directories
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET specific
App_Data/
App_Logs/
wwwroot/

# Ignore NuGet packages
*.nupkg
packages/

# Ignore publishing outputs
*.Publish.xml
*.Pubxml
*.Publish.xml*

# Logs
*.log

# Visual Studio Code workspace
.vscode/

# Rider project files
.idea/

Medical_Store_Management/Web.config
